$breakpoint1: 600px;
$breakpoint2: 768px;
$body-background: hsl(0, 0%, 16.5%);
$heading2-color: hsl(0, 0%, 94%);
$table-background: hsl(200, 8%, 93%);
$table-font-color: hsl(208, 12%, 25%);
$table-header-background: hsl(0, 0%, 77%);
$location-td-background: hsl(0, 0%, 89%);
